<html>
    <head>
        <title>Podcast helper</title>
    </head>
    <body>
        <div>
            Add podcasts to download
        </div>
        <form method="post">
            <div>
                <textarea name="podcast_list" cols="400" rows="5"></textarea>
            </div>
            <div>
                <input type="submit" name="list_podcast" value="List podcast"/>
                <input type="submit" name="get_episode" value="Get episode"/>
            </div>
        </form>
    </body>
</html>